doctype html
html
  head(ng-app='kateApp')
    title= kate rebekah
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  	include partials/nav
	  div(ng-view)
	    block content

	  script(src='/javascripts/jquery.js')
	  script(src='/javascripts/angular.js')
	  script(src='/javascripts/angular-route.js')
	  script(src='app/app.js')
	  script(src='app/controllers.js')